body {
  height: 100vh;
}

#root {
  height: 100vh;
  background: url("../assets/logo.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  align-self: center;
}
